
<div class="container">
  <h2>Configuration Items to Export</h2>
  <ul class="list-group">
    <li data-dojo-attach-event="onclick: goToSensors" class="list-group-item">Log Sources</li>
    <li data-dojo-attach-event="onclick: goToUsers" class="list-group-item">Users</li>
    <li data-dojo-attach-event="onclick: goToOffenses" class="list-group-item">Offenses</li>
    <li data-dojo-attach-event="onclick: goToReferenceSets" class="list-group-item">Reference Sets</li>
    <li data-dojo-attach-event="onclick: goToCEP" class="list-group-item">Custom Event Properties</li>
    <li data-dojo-attach-event="onclick: goToNetworks" class="list-group-item">Network Hierarchy</li>
    <li data-dojo-attach-event="onclick: goToHosts" class="list-group-item">Server Hosts</li>
    <li data-dojo-attach-event="onclick: goToApps" class="list-group-item">QRadar Apps & Extensions</li>
  </ul>
</div>